---
layout: default
---

 {% assign monday = site.data.blocks | sort: 'id' | where_exp: "item", "item.day=='Monday'"  %}
 {% assign tuesday = site.data.blocks | sort: 'id' | where_exp: "item", "item.day=='Tuesday'"  %}

Monday 

<table class="table table-striped">
  <tbody>
      <tr>
        <td style="text-align: left">9:30-11:00</td>
        <td style="text-align: left"> {{ monday['morning'][1].session }} </td>    
        <td style="text-align: left"> {{ monday['morning'][2].session }} </td>    
        <td style="text-align: left"> {{ monday['morning'][3].session }} </td>    
      </tr>
        {% endfor %}
     {% endfor %}


  </tbody>
</table>
